{% extends "base.html" %}

{% block navbar_buttons %}
<a href="#new" role="button" class="btn btn-success">New</a>
<a href="/" class="btn btn-primary ml-10">Refresh</a>
{% endblock %}

{% block body_buttons %}
<div class="col">
  <button type="button" class="btn btn-success">New</button>
</div>
<div class="col text-right">
  <a href="/" class="btn btn-primary">Refresh</a>
</div>
{% endblock %}

{% block modals %}
<div class="modal" id="new" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">New Link</h5>
      <form method="post" action="/api/modify">
        <div class="form-group">
          <label for="create-name" class="required">Name</label>
          <input type="text" id="create-name" name="name" class="form-control" placeholder="github" required="required"/>
        </div>
        <div class="form-group">
          <label for="create-link" class="required">Link</label>
          <input type="url" id="create-link" name="url" class="form-control" placeholder="https://github.com/WaffleHacks/shorter" required="required"/>
        </div>
        <div class="text-right mt-20">
          <a href="#" class="btn mr-5" role="button">Close</a>
          <input type="submit" value="Create" class="btn btn-success"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row row-eq-spacing">
  {% for link in links %}
  <div class="col-4 col-md-3 col-lg-2 col-xl-2">
    <div class="card my-10 mx-xl-9">
      <div class="text-center text-break">
        <a href="/{{link}}">{{link}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
