{% extends "base.html" %}

{% block navbar_buttons %}
<a href="/" class="btn">Back</a>
{% if exists %}
  <a href="/{{ name }}" class="btn btn-primary ml-10">Refresh</a>
{% endif %}
{% endblock %}

{% block body_buttons %}
<div class="col">
  <a href="/" class="btn">Back</a>
</div>
{% if exists %}
  <div class="col text-right">
    <a href="/{{ name }}" class="btn btn-primary">Refresh</a>
  </div>
{% endif %}
{% endblock %}

{% block modals %}
<div class="modal" id="edit" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">
        Editing
        <code style="font-size: 12pt" class="code">{{ name }}</code>
      </h5>
      <form method="post" action="/api/modify">
        <input type="hidden" value="{{ name }}" name="name"/>
        <div class="form-group">
          <label for="edit-link" class="required">Link</label>
          <input type="url" id="edit-link" name="url" class="form-control" value="{{ url }}" required="required"/>
        </div>
        <div class="custom-switch">
          <input type="checkbox" id="edit-enabled" name="enabled" value="" {% if enabled %}checked="checked"{% endif %}/>
          <label for="edit-enabled">Enabled?</label>
        </div>
        <div class="text-right mt-20">
          <a href="#" class="btn mr-5" role="button">Close</a>
          <input type="submit" value="Create" class="btn btn-success"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="delete" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">
        Delete
        <code style="font-size: 12pt" class="code">{{ name }}</code>
        ?
      </h5>
      <form method="post" action="/api/delete">
        <input type="hidden" value="{{ name }}" name="name"/>
        <p class="text-muted">
          Are you sure you want to delete <code class="code">{{ name }}</code>? This action
          is irreversible and all associated data will be lost.
        </p>
        <br/>
        <div class="btn-group-lg text-center" role="group">
          <a href="#" class="btn" role="button">Nevermind</a>
          <input type="submit" class="btn btn-danger ml-10" value="Delete"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="card w-full w-lg-500">
    {% if exists %}
    <h2 class="card-title">
      <code style="font-size: 18pt" class="code">{{ name }}</code>
    </h2>
    <div class="text-muted mt-10">
      <table class="table table-striped table-responsive">
        <tbody>
          <tr>
            <th>Link</th>
            <td>
              <a href="{{ url }}">{{ url }}</a>
            </td>
          </tr>
          <tr>
            <th>Clicks</th>
            <td>{{ usages }}</td>
          </tr>
          <tr>
            <th>Enabled</th>
            <td>
              {% if enabled %}
              <i style="height: 16px" data-feather="check-square"></i>
              {% else %}
              <i style="height: 16px" data-feather="square"></i>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr/>
    <div class="text-center mt-10">
      <a href="#edit" class="btn btn-primary">Edit</a>
      <a href="#delete" class="btn btn-danger ml-20">Delete</a>
    </div>
    {% else %}
    <h2 class="card-title">Not found</h2>
    <hr/>
    <div class="text-muted mt-10">
      We looked everywhere for <code class="code">{{ name }}</code>, but we couldn't
      find anything. Please check that the name is correct and try again.
    </div>
    <div class="text-center">
      <a href="/" class="btn mt-10">Back</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
